/* Website colour scheme: https://paletton.com/#uid=60o0p0kw0w0jyC+oRxVy4oIDfjr
Remove background of image: https://www.remove.bg/ */
body {
    background-color: #FD383E;
    font-family: Georgia, Times, 'Times New Roman', serif;
    margin: 0;
    padding: 0;
}


header {
    background-color: #ffcc00;
    padding: 10px;
    text-align: center;
}


.logo {
    width: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}


/* navigation at the top of page */


nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100px;
}


nav a {
    text-decoration: none;
    color: #333;
}


nav ul {
    list-style-type: none;
    padding: 0;
}


nav ul li {
    display: inline;
    margin: 0 15px;
}


article {
    margin: 50px;
    padding: 10px;
}

h2, h1, h3{
    color: #144841;
}


/* our introduction */


#shweta,
#mary,
figure img {
    grid-row: 1/2;
}


#mary {
    width: 150px;
}


figure img {
    width: 200px;
}


.about-us {
    display: grid;
    grid-template-columns: 1fr 9fr;
    grid-template-rows: repeat(1fr, 2);
}


.about-us ul {
    grid-column: 2/3;
}


#mary-bio {
    grid-row: 1/2;
}


#shweta-bio {
    grid-row: 2/3;
}


/* our chips selection */


.our-chips {
    display: grid;
    grid-template-columns: repeat(1fr, 4);
    grid-template-rows: repeat(1fr, 2);
    margin: 10px;
    grid-gap: 50px;
}


.our-chips div {
    display: flex;
    justify-content: baseline;
    align-items: center;
    font-size: 30px;
    color: #144841;
}


#spicy,
#spicy-pic {
    grid-column: 1/2;
}


#crunchy,
#crunchy-pic {
    grid-column: 2/3;
}


#salty,
#salty-pic {
    grid-column: 3/4;
}


#taco,
#taco-pic {
    grid-column: 4/5;
}


#spicy,
#crunchy,
#salty,
#taco {
    grid-row: 1/2;
    display: flex;
    justify-content: center;


}


.chips {
    display: flex;
    justify-content: center;
}


.chips img {
    grid-row: 2/3;
    width: 250px;
}


.our-chips:hover>.chips {
    background-color: #48BAA4;
}


/* footers */


footer {
    background-color: #ffcc00;
}


.contacts {
    width: 35px;
    text-align: center;
}


.copyright {
    text-align: center;
}


main {
    padding: 20px;
}


.contact-icon {
    width: 20px;
    height: 20px;
    vertical-align: middle;
    margin-right: 5px;
}


a {
    color: blue;
    text-decoration: underline;
}


a:hover {
    color: darkblue;
}


/* Small Devices */
@media only screen and (max-width: 590px) {


    /* general */


    body {
        display: grid;
        grid-template-columns: 1fr;
    }


    h2, h1 {
        text-align: center;
    }


    section {
        margin: 5%;
    }


    .logo {
        width: 20%;
        margin-left: auto;
        margin-right: auto;
    }


    /* header */


    header {
        height: 1.5%;
    }


    nav ul,
    nav ul li {
        display: block;
    }


    header nav {
        top: 0;
        left: 0;
        align-items: normal;
        position: absolute;
    }


    nav a {
        font-size: calc(16pt + -3vw);
    }


    /* images */


    article img,
    figure img,
    #mary {
        width: 100%;
        margin: 3%;
    }


    /* our intro */


    .about-us {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(1fr, 4);
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }


    .about-us ul {
        grid-column: 1/2;
        margin: 5%;
    }


    #mary {
        grid-row: 1/2;
    }


    #shweta {
        grid-row: 3/4;
    }


    #mary-bio {
        grid-row: 2/3;
    }


    #shweta-bio {
        grid-row: 4/5;
    }


    /* our chips */


    .our-chips {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 0.5fr 2fr 0.5fr 2fr 0.5fr 2fr 0.5fr 2fr;
    }


    #spicy,
    #crunchy,
    #salty,
    #taco {
        font-size: 300%;
        grid-column: 1/2;
        font-weight: bold;
        font-style: italic;
    }


    #spicy {
        grid-row: 1/2;
    }


    #spicy-pic {
        grid-row: 2/3;
    }


    #crunchy {
        grid-row: 3/4;
    }


    #crunchy-pic {
        grid-row: 4/5;
    }


    #salty {
        grid-row: 5/6;
    }


    #salty-pic {


        grid-row: 6/7;
    }


    #taco {
        grid-row: 7/8;
    }


    #taco-pic {
        grid-row: 8/9;
    }


    .chips {
        grid-column: 1/2;
        margin-left: auto;
        margin-right: auto;
    }


    .chips img {
        width: 100%;
    }


    .our-chips:hover>.chips {
        background-color: #48BAA4;
    }




    /* footer */


    .nav-footer {
        display: flex;
        flex-direction: column;
        align-items: space-around;
    }


    .nav-footer div {
        margin: 2%;
    }


    footer .logo {
        margin-top: 15%;
    }
}




/* Medium Devices */
@media only screen and (min-width: 590px) and (max-width: 769px) {


    /* general */


    body {
        display: grid;
        grid-template-columns: 1fr;
    }


    header {
        display: flex;
    }


    .logo {
        width: 15%;
        margin: 0;
    }


    nav ul,
    nav ul li {
        display: inline-flex;
    }


    nav {
        height: auto;
        width: 100%;
    }


    nav a {
        font-size: 14pt;
        display: flex;
        justify-content: space-around;
    }


    h2, h1, 
    p {
        font-size: 16pt;
        text-align: center;
    }


    /* images */
    article img,
    figure img,
    #mru {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 65%;
    }


    /* our intro */


    .about-us {
        display: grid;
        grid-template-columns: 1fr 2fr;
        grid-template-rows: repeat(1fr, 2);
    }


    .about-us ul {
        grid-column: 2/3;
    }


    figcaption,
    #mary-bio,
    #shweta-bio {
        font-size: 14pt;
    }


    #shweta,
    #mary {
        grid-column: 1/2;
        width: 95%;
    }


    #mary,
    #mary-bio {
        grid-row: 1/2;
    }


    #shweta,
    #shweta-bio {
        grid-row: 2/3;
    }


    #mru {
        width: 30%;
    }


    /* our intro */


    .about-us {
        display: grid;
        grid-template-columns: 1fr 2fr;
        grid-template-rows: repeat(1fr, 2);
    }


    .about-us ul {
        grid-column: 2/3;
    }


    #shweta,
    #mary {
        grid-column: 1/2;
    }


    #mary,
    #mary-bio {
        grid-row: 1/2;
    }


    #shweta,
    #shweta-bio {
        grid-row: 2/3;
    }


    /* our chips */


    .our-chips {
        display: grid;
        grid-template-columns: repeat(1fr, 2);
        grid-template-rows: 1fr 2fr 1fr 2fr;
    }


    #spicy,
    #crunchy,
    #salty,
    #taco {
        color: #007000;
        font-weight: bold;
        font-style: italic;
    }


    #spicy,
    #crunchy {
        grid-row: 1/2;
    }


    #salty,
    #taco {
        grid-row: 3/4;
    }


    #spicy-pic,
    #crunchy-pic {
        grid-row: 2/3;
    }


    #salty-pic,
    #taco-pic {
        grid-row: 4/5;
    }


    #spicy,
    #spicy-pic,
    #salty,
    #salty-pic {
        grid-column: 1/2;
    }


    #crunchy,
    #crunchy-pic,
    #taco,
    #taco-pic {
        grid-column: 2/3;
    }


    .chips {
        margin-left: auto;
        margin-right: auto;
    }


    .chips img {
        width: 100%;
    }


    .our-chips:hover>.chips {
        background-color: #48BAA4;
    }


    */
    /* footer */


    .nav-footer {
        display: flex;
        flex-direction: column;
        align-items: space-around;
    }


    .nav-footer div {
        margin: 2%;
    }


    footer .logo {
        margin-top: 3%;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
}


/* Large Devices */


@media only screen and (min-width: 769px) {


    /* general */


    html{
        width: 790px;
    }


    html {
        background-color: white;
        z-index: -1;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }


    #content {
        margin: auto;
    }


    nav a {
        font-size: calc(16pt + 0.1vw);
    }


    h2, h1{
        font-size: calc(16pt + 0.75vw);
        text-align: center;
    }


    p {
        font-size: calc(16pt + 0.2vw);
        text-align: center;
    }






    /* images */


    article img,
    figure img {
        width: 80%;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }


    /* our intro */
   
    .about-us {
        display: grid;
        grid-template-columns: 1fr 2fr;
        grid-template-rows: repeat(1fr, 2);
    }


    figcaption, #shweta-bio, #mary-bio {
        font-size: calc(16pt + -0.3vw);
    }


    .about-us ul {
        grid-column: 2/3;
    }


    #shweta, #mary {
        grid-column: 1/2;
    }


    #mary, #mary-bio {
        grid-row: 1/2;
    }


    #shweta, #shweta-bio {
        grid-row: 2/3;
    }


    /* our chips */
   
    .our-chips {
        display: grid;
        grid-template-columns: repeat(1fr, 2);
        grid-template-rows: 1fr 2fr 1fr 2fr;
    }


    #spicy,
    #crunchy,
    #salty,
    #taco {
        font-size: 200%;
        color: #007000;
        font-weight: bold;
        font-style: italic;
    }


    #spicy, #crunchy {
        grid-row: 1/2;
    }


    #salty, #taco {
        grid-row: 3/4;
    }


    #spicy-pic, #crunchy-pic {
        grid-row: 2/3;
    }


    #salty-pic, #taco-pic {
        grid-row: 4/5;
    }


    #spicy, #spicy-pic, #salty, #salty-pic {
        grid-column: 1/2;
    }


    #crunchy, #crunchy-pic, #taco, #taco-pic {
        grid-column: 2/3;
    }


    .chips {
        margin-left: auto;
        margin-right: auto;
    }


    .chips img {
        width: 100%;
    }


    .our-chips:hover>.chips {
        background-color: #48BAA4;
    }


    /* footer */
   
    .nav-footer {
        display: flex;
        flex-direction: column;
        align-items: space-around;
    }


    .nav-footer div {
        margin: 2%;
    }


    footer .logo {
        margin-top: 30%;
    }
}