/* Global Styles */
body {
    background-color: #FD383E;
    font-family: Georgia, Times, 'Times New Roman', serif;
    margin: 0;
    padding: 0;

}

header {
    background-color: #48BAA4;
    padding: 10px;
    text-align: center;
    width: 100vw;
    /* Ensure it spans the full width of the viewport */
    border-bottom: 2px solid #333;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    width: 100px;
    height: auto;
    display: block;
    margin: 0;
    /* Remove centering since navigation is to the right */
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: flex-end;
    /* Move the navigation to the right */
    flex-wrap: wrap;
}

nav ul li {
    margin: 5px 15px;
}

nav a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

.main-content {
    text-align: center;
    padding: 20px;
}

.main-content h1 {
    font-size: 2em;
}

.main-content p {
    font-size: 1.2em;
}

.main-image {
    width: 100%;
    max-width: 600px;
    height: auto;
    justify-content: center;
}

form {
    padding: 20px;
}

main {
    padding: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px auto;
}

td {
    padding: 10px;
    vertical-align: top;
}

td img {
    width: 200px;
    background-color: #FFC163;
}

.desc {
    background-color: #FF8739;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 15px;
}

td div {
    display: flex;
    justify-content: center;
    font-style: oblique;
    font-weight: bolder;
    font-size: larger;
    color: #006350;
}

#fiery,
#crunchiness,
#salted,
#taco {
    color: black;
    font-weight: bold;
    font-style: italic;
}

.custom-link {
    color: black;
}


p span {
    font-style: italic;
}

footer {
    background-color: #48BAA4;
    padding: 20px;
    text-align: center;
    width: 100vw;
    /* Ensure footer spans the full width */
    margin: 0;
    box-sizing: border-box;
}

.contacts {
    width: 35px;
    text-align: center;
}

.copyright {
    text-align: center;
}



/* Small Devices */
@media (max-width: 590px) {
    header {
        height: 1.5%;
    }

    .logo {
        width: 30%;
        margin-left: auto;
        margin-right: auto;
        justify-content: center;
    }

    nav ul,
    nav ul li {
        display: block;
    }

    header nav {
        top: 2;
        left: 0;
        align-items: normal;
        position: absolute;
    }

    nav a {
        font-size: calc(25pt + -3vw);
    }

    nav ul {
        flex-direction: column;
        align-items: center;
    }

    .main-content {
        padding: 10px;
    }

    .main-content h1 {
        font-size: 1.5em;
    }

    main {
        grid-template-columns: 1fr;
    }

    td img {
        width: 100%;
    }

    .main-image {
        max-width: 100%;
    }

    .nav-footer {
        display: flex;
        flex-direction: column;
        align-items: space-around;
    }

    .nav-footer div {
        margin: 2%;
    }

    footer .logo {
        margin-top: 3%;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
}

/* Medium Devices (590px to 790px) */
@media (min-width: 590px) and (max-width: 790px) {
    header {
        padding: 15px;
    }

    .logo {
        width: 120px;
    }

    nav ul {
        justify-content: flex-end;
    }

    .main-content h1 {
        font-size: 1.8em;
    }

    .main-content p {
        font-size: 1.1em;
    }

    .our-chips {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        /* 2x2 grid */
        gap: 20px;
        color: black;
    }

    #fiery,
    #crunchiness,
    #salted,
    #taco {
        color: black;
        font-weight: bold;
        font-style: italic;
    }

    .chips {
        margin-left: auto;
        margin-right: auto;
    }

    .chips img {
        width: 100%;
    }

    .our-chips:hover>.chips {
        background-color: #48BAA4;
    }

    .nav-footer {
        display: flex;
        flex-direction: column;
        align-items: space-around;
    }

    .nav-footer div {
        margin: 2%;
    }

    footer .logo {
        margin-top: 3%;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

}

/* Large Devices (790px and above) */
@media only screen and (min-width: 769px) {
    html {
        width: 790px;
    }

    header {
        display: flex;
        width: 790px;
    }

    html {
        background-color: white;
        z-index: -1;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    body {
        background-color: #FD383E;
        /* Plain background color for the side spaces */


        main {
            max-width: 790px;
            margin: 0 auto;
        }

        .main-content,
        footer {
            max-width: 790px;
            margin: 0 auto;
        }

        .main-content h1 {
            font-size: 2em;
        }

        .main-content p {
            font-size: 1.2em;
        }

        .main-image {
            width: 100%;
            max-width: 790px;
        }

    }

    .nav-footer {
        display: flex;
        flex-direction: column;
        align-items: space-around;
    }

    .nav-footer div {
        margin: 2%;
    }

    footer .logo {
        margin-top: 3%;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
}